@model TaskManager.Models.Task

<h1>Task Details</h1>

<p><strong>Task Name:</strong> @Model.Name</p>
<p><strong>Is Done:</strong> @Model.IsDone</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Index:</strong> @Model.Id</p>
